{% extends 'oilstandart/base.html' %}




{% block content %} 


    <div class="content container">
    <div class="row centered">
	    <div class="col-md-12">
           <span class="tiltFont3"><b>Вы нас еще не знаете?<br>
		   Шесть доводов в пользу компании</b></span>
		</div>
		      <!--<span class="tiltFont2">
								    Бесперебойная работа техники напрямую зависит от качества используемого топлива и надежности поставщика. 
			  </span><br>-->
	
     </div>
</div>   
<hr class="style-two"></hr>                					
	
<div class="content container">
    <div class="row">
	    <div class="col-md-12">
<!-- Хлебные крошки, начало! -->	
<ol id="breadcrumb">
  <li>
    <a href="{% url 'indexoil' %}"><i class="glyphicon glyphicon-home"></i>
    <span class="sr-only"></span></a>
  </li>
  <li class="current">
    <a href="{% url 'dieselfuel' %}">Наши преимущества</a>
  </li>
</ol>
<!-- Хлебные крошки, конец! -->
<br><br><br>
<div class="row">
<div class="col-md-4 col-sm-6 color">
		<p><img src="/static/img/1.png" alt="Наши преимущества" title="Преимущества" class="img-responsive img-rounded img-thumbnail"></p>
</div>	
<div class="col-md-offset-2 col-md-6 col-sm-4 col-sm-offset-2">
<span class="tiltFont4"><b>Заказ и доставка круглосуточно 24/7</b></span><br>
<span class="tiltFont5">Топливная компания {{ company_name|upper }} на протяжении многих лет позиционируется на Киевском рынке как надёжный поставщик качественного топлива. 
Мы работаем с мелким, средним и крупным бизнесом. За столь продолжительное время у нас наработана большая клиентская база.
Специалистами нашей компании регулярно проводится работа, направленная на улучшение качества обслуживания клиентов. Проводится заказ и 
доставка круглосуточно 24/7. При любых обстоятельствах топливо будет доставлено Вам своевременно.	
</span>	
</div>
</div>
<br><br>
<div class="row">
<div class="col-md-4 col-sm-6 color">
		<p><img src="/static/img/2.png" alt="Наши преимущества" title="Преимущества" class="img-responsive img-rounded img-thumbnail"></p>
</div>	
<div class="col-md-offset-2 col-md-6 col-sm-4 col-sm-offset-2">
<span class="tiltFont4"><b>Доставка топлива по Киеву и Киевской области в течение 3-х часов</b></span><br>
<span class="tiltFont5">Наша компания осуществляет безопасную и своевременную транспортировку топлива в любую точку Киева, 
Киевской области и близлежащих регионов. Некоторым компаниям-конкурентам сложно взять на себя такие высокие обязательства.
Мы берём все риски и доставляем дизтопливо в день заказа.<br><br>
Доставка топлива по Киеву и Киевской области в течение 3-х часов проводится в полном объёме. 
Пунктуальность и точность для наших сотрудников являются решающими факторами в достижении поставленных руководством задач, 
а так же улучшение лояльности клиентов.
</span>	
</div>
</div>
<br><br>
<div class="row">
<div class="col-md-4 col-sm-6 color">
		<p><img src="/static/img/3.png" alt="Наши преимущества" title="Преимущества" class="img-responsive img-rounded img-thumbnail"></p>
</div>	
<div class="col-md-offset-2 col-md-6 col-sm-4 col-sm-offset-2">
<span class="tiltFont4"><b>Минимальный заказ от 500 литров</b></span><br>
<span class="tiltFont5">Многие топливные компании ориентированы только на большие партии, мы же в свою очередь хотим предоставить 
качественный сервис. По этому у нас можно заказать топливо от 500 л. и к вам будут относиться так же как и к оптовым покупателям. 
Сотрудничая с нашей компанией, Вы убережёте себя от возможных рисков, которые случаются в связи с транспортировкой горючего. 
Топливо – это опасный груз. Его перевозка требует квалифицированной подготовки водителей и наличие специального транспорта.<br><br>
Мы имеем парк специализированной автомобильной техники для доставки топлива. 
Вам достаточно оформить минимальный заказ всего 500 литров, и оформленная заявка пойдёт по назначению. 
Нам доверяют заказчики, мы их не подводим!	
</span>	
</div>
</div>
<br><br>
<div class="row">
<div class="col-md-4 col-sm-6 color">
		<p><img src="/static/img/4.png" alt="Наши преимущества" title="Преимущества" class="img-responsive img-rounded img-thumbnail"></p>
</div>	
<div class="col-md-offset-2 col-md-6 col-sm-4 col-sm-offset-2">
<span class="tiltFont4"><b>Лучший сервис, вовремя, быстро, аккуратно</b></span><br>
<span class="tiltFont5">Перевозка нефтепродуктов компанией {{ company_name|upper }} производится собственным транспортом. На сегодня с автопарке 
имеются бензовозы различной калибровки. Объём ёмкостей варьируется в пределах 5-42 м3. Вся техника оснащена спутниковой 
системой мониторинга, позволяющей в любое время отслеживать движение транспорта.
Лучший сервис, вовремя, быстро, аккуратно – это главный девиз нашей компании. Данные обязательства мы исполняем полностью. 
Для нас важен каждый клиент.	
</span>	
</div>
</div>
<br><br>
<div class="row">
<div class="col-md-4 col-sm-6 color">
		<p><img src="/static/img/5.png" alt="Наши преимущества" title="Преимущества" class="img-responsive img-rounded img-thumbnail"></p>
</div>	
<div class="col-md-offset-2 col-md-6 col-sm-4 col-sm-offset-2">
<span class="tiltFont4"><b>Шланги длиной от 50 метров</b></span><br>
<span class="tiltFont5">Безаварийно слить горючее помогут импортные шланги длиной от 50 метров и высочайший уровень подготовки 
водительского состава. Наши шланги не текут и оснащены быстросъемными соединениями, а также заправочными пистолетами. Не верите, 
так проверьте. Услугами нашей компании пользуются партнёры всего Подмосковья и даже из других, близлежащих регионов. Звоните, 
заказывайте, мы Вас ждём!	
</span>	
</div>
</div>
<br><br>
<div class="row">
<div class="col-md-4 col-sm-6 color">
		<p><img src="/static/img/6.png" alt="Наши преимущества" title="Преимущества" class="img-responsive img-rounded img-thumbnail"></p>
</div>	
<div class="col-md-offset-2 col-md-6 col-sm-4 col-sm-offset-2">
<span class="tiltFont4"><b>100% литраж при сливе нефтепродуктов</b></span><br>
<span class="tiltFont5">Наша техника подключена к спутниковому мониторингу (ГЛОНАСС), каждая машина оснащена поверенным и 
опломбированным топливным счетчиком, а как же у машины опломбированы емкости. По этому мы можем с уверенностью заявить что 
наши клиенты получают именно столько топлива сколько заказывали!	
</span>	
</div>
</div>
	
</div>
</div>	
</div>
{% endblock content %}