{% extends 'oilstandart/base.html' %}




{% block content %} 
<div class="content container">
    <div class="row centered">
	    <div class="col-md-12">
           <span class="tiltFont3"><b>История основания</b></span>
		</div>
		      <!--<span class="tiltFont2">
								    Бесперебойная работа техники напрямую зависит от качества используемого топлива и надежности поставщика. 
			  </span><br>-->
	
     </div>
</div>   
<hr class="style-two"></hr>                					
	
<div class="content container">
    <div class="row">
	    <div class="col-md-12">
<!-- Хлебные крошки, начало! -->	
<ol id="breadcrumb">
  <li>
    <a href="{% url 'indexoil' %}"><i class="glyphicon glyphicon-home"></i>
    <span class="sr-only"></span></a>
  </li>
  <li class="current">
    <a href="{% url 'history' %}">История основания</a>
  </li>
</ol>
<!-- Хлебные крошки, конец! -->
<br><br>
<div class="content container">
    <div class="row">
<span class="tiltFont4"><b>20015 год создание компании {{ company_name|upper }}</b></span><br>
<span class="tiltFont5">В 2015 году было принято решение об открытии нашей фирмы {{ company_name|upper }}. 
Также было выбрано направление деятельности – поставки качественного дизельного топлива. В последующих годах были заключены многочисленные 
контракты и соглашения со многими потребителями и производственными предприятиями дизельного топлива не только в Киеве и Киевской области, 
но и в других регионах Украины.<br><br>
В этом же году наша компания начинает закуп продукта с центральных бирж. 
Это неизменно приводит к росту и увеличению базы постоянных клиентов (на уровне биржевого торга) и к 
появлению конкурентоспособной цен на рынке дизельного топлива.<br><br>
Также разработка новых планов более оперативной и гибкой доставки рынку потребителей дизельного топлива.<br><br>
<span class="tiltFont4"><b>2016 год расцвет компании {{ company_name|upper }}</b></span><br>
В 2016 году компания уже имеет свой собственный парк спецтехники (бензовозы и топливозаправочные машины) в количестве 10 штук.
Все топливозаправщики для отгрузки европейского производства, грузоподъемность от 5000 до 42000 литров.<br><br>
Также в 2016 году был построен новый офис на собственной территории фирмы с последующим увеличением профессионального штата сотрудников.<br><br>
<span class="tiltFont4"><b>2017 год</b></span><br>
Увеличение квалифицированных специалистов компании более 20 человек. 
Компанией сформирована технология повышения качества и уровня знаний сотрудников. 
Проводятся различные тренинги, «круглые столы» тестирования, семинары. 
А также очень часто устраиваются мастер-классы от лучших профессионалов в своей области. 
В этом же году компания активно занимается расширением сети.<br><br>
<span class="tiltFont4"><b>Этот же год</b></span><br>
В 2017 году в ходе рабочей деятельности нашей компанией {{ company_name|upper }} был выработан грамотный и четкий 
пошаговый алгоритм всех действий. Отгрузка и поставка потребителям по г. Киев и полностью по Киевской области занимает всего от 3 часов.<br><br>
<span class="tiltFont4"><b>Планы и задачи</b></span><br>
В 2017 году – наша компания занимается увеличением клиентской базы. Стратегия, направления и основной курс нашей организации 
полностью ориентированы на оперативную работу с потребительским рынком по всей Украине, а также на поиск новых поставщиков 
и сотрудничество с постоянными поставщиками топлива по Украине. Увеличение числа отгрузок и доставки топлива, кроме того, расширение 
технического парка. Компания {{ company_name|upper }} в своей работе использует многолетний опыт и знания наших специалистов данной 
отрасли для широкого обеспечения своим клиентам (как постоянным, так и новым) выгодных условий по снабжению качественным продуктом. 
История нашей компании создается каждый день вместе с вами! &#9749;
</span>
    </div>
</div>






        </div>
    </div>
</div>
{% endblock content %}