{% extends 'oilstandart/base.html' %}




{% block content %} 
                <div id="headerwrap">
				    <div class="container">
					    <div class="row centered">
						     <div class="col-lg-8 col-lg-offset-2 fontLanding">
							     <h2>
								    {{ company_name|upper }} – продажа и доставка топлива по всей территории украины 
								 </h2>
								 <h3>
								    Высочайшее качество по доступной цене!!!<br> 
									Минимализируйте Ваши расходы и экономьте вместе с нами! 
								 </h3>
								 <!--<h3>
								     <b>"OILSTANDART"</b> - это комманда молодых профессоналов в сфере трудоустройства за рубежом. 
									 Мы сотрудничаем только с проверенными и надёжными работодателями стран Европейского союза.
								 </h3> -->
							 </div>
						</div>					    
					</div>
				
				</div>
				
				<div id="dg">
				    <div class="container">
					    <div class="row centered">
						    
						    <br>
							<div class="col-lg-4">
							   <div class="tilt">
							       <a href="#"><img src="/static/icons/1.png" alt="Последние новости в Польше" class="img-responsive img-thumbnail"></a>
							       <span class="tiltFont1">Продажа топлива</span>
								   <span class="tiltFont2">Аренда топливных емкостей различного объема.</span>
							   </div> 
							</div>
							<div class="col-lg-4">
							   <div class="tilt">
							       <a href="#"><img src="/static/icons/2.png" alt="Последние новости в Польше" class="img-responsive img-thumbnail"></a>
							       <span class="tiltFont1">Перевозка топлива</span>
								   <span class="tiltFont2">Аренда топливных емкостей различного объема.</span>
							   </div> 
							</div>
							<div class="col-lg-4">
							   <div class="tilt">
							       <a href="#"><img src="/static/icons/3.png" alt="Последние новости в Польше" class="img-responsive img-thumbnail"></a>
							       <span class="tiltFont1">Откачка топлива</span>
								   <span class="tiltFont2">Аренда топливных емкостей различного объема.</span>
							   </div> 
							</div>
							
						</div>
						<div class="row centered">
						    
						    <br>
							<div class="col-lg-4">
							   <div class="tilt">
							       <a href="#"><img src="/static/icons/4.png" alt="Последние новости в Польше" class="img-responsive img-thumbnail"></a>
							       <span class="tiltFont1">Аренда бензовозов</span>
								   <span class="tiltFont2">Аренда топливных емкостей различного объема.</span>
							   </div> 
							</div>
							<div class="col-lg-4">
							   <div class="tilt">
							       <a href="#"><img src="/static/icons/5.png" alt="Последние новости в Польше" class="img-responsive img-thumbnail"></a>
							       <span class="tiltFont1">Утилизация топлива</span>
								   <span class="tiltFont2">Аренда топливных емкостей различного объема.</span>
							   </div> 
							</div>
							<div class="col-lg-4">
							   <div class="tilt">
							       <a href="#"><img src="/static/icons/6.png" alt="Последние новости в Польше" class="img-responsive img-thumbnail"></a>
							       <span class="tiltFont1">Аренда емкостей</span>
								   <span class="tiltFont2">Аренда топливных емкостей различного объема.</span>
							   </div> 
							</div>
							
						</div>
						
					</div>
				</div>
				
				<div class="container wb">
				    <div class="row centered">
					    <br><br>
						<div class="col-lg-12">
						    <span class="tiltFont3"><i class="fa fa-angle-double-down" aria-hidden="true"></i> Преимущества компании {{ company_name|upper }}</span>
							    <p>
								    <div class="panel-group" id="collapse-group">
 <div class="panel panel-default">
 <div class="panel-heading">
 <h4 class="panel-title">
 <a data-toggle="collapse" data-parent="#collapse-group" href="#el1">&#9745; Первый</a>
 </h4>
 </div>
 <div id="el1" class="panel-collapse collapse in">
 <div class="panel-body"><b>Заказ и доставка круглосуточно.</b>
Топливная компания {{ company_name|upper }} на протяжении всего периода работы позиционируется на украинском рынке как надёжный поставщик качественного топлива. 
Мы работаем с мелким, средним и крупным бизнесом. За столь продолжительное время у нас наработана большая клиентская база.
Специалистами нашей компании регулярно проводится работа, направленная на улучшение качества обслуживания клиентов. 
Проводится заказ и доставка круглосуточно. При любых обстоятельствах топливо будет доставлено на ваш склад своевременно.</div>
 </div>
 </div>
 <div class="panel panel-default">
 <div class="panel-heading">
 <h4 class="panel-title">
 <a data-toggle="collapse" data-parent="#collapse-group" href="#el2">&#9745; Второй</a>
 </h4>
 </div>
 <div id="el2" class="panel-collapse collapse">
 <div class="panel-body"><b>Доставка топлива по Киеву и Киевской области в течение 3-х часов.</b>
Наша компания осуществляет безопасную и своевременную транспортировку топлива в любую точку Киева, Киевской области и близлежащих регионов. 
Некоторым компаниям-конкурентам сложно взять на себя такие высокие обязательства. Мы берём все риски и доставляем дизтопливо в день заказа.
Доставка топлива по Киеву и Киевской области в течение 3-х часов проводится в полном объёме. 
Пунктуальность и точность для наших сотрудников являются решающими факторами в достижении поставленных руководством задач.</div>
 </div>
 </div>
 <div class="panel panel-default">
 <div class="panel-heading">
 <h4 class="panel-title">
 <a data-toggle="collapse" data-parent="#collapse-group" href="#el3">&#9745; Третий</a>
 </h4>
 </div>
 <div id="el3" class="panel-collapse collapse">
 <div class="panel-body"><b>Минимальный заказ всего 500 литров.</b>
Сотрудничая с нашей компанией, Вы убережёте себя от возможных рисков, которые случаются в связи с транспортировкой горючего. 
Топливо – это опасный груз. Его перевозка требует квалифицированной подготовки водителей и наличие специального транспорта.
Мы имеем парк специализированной автомобильной техники для доставки топлива. 
Вам достаточно оформить минимальный заказ всего 500 литров, и оформленная заявка пойдёт по назначению. 
Нам доверяют заказчики, мы их не подводим!</div>
 </div>
 </div>
 <div class="panel panel-default">
 <div class="panel-heading">
 <h4 class="panel-title">
 <a data-toggle="collapse" data-parent="#collapse-group" href="#el4">&#9745; Четвёртый</a>
 </h4>
 </div>
 <div id="el4" class="panel-collapse collapse">
 <div class="panel-body"><b>Лучший сервис, вовремя, быстро, аккуратно.</b>
Перевозка нефтепродуктов компанией {{ company_name|upper }} производится собственным транспортом. На сегодня с автопарке имеются бензовозы 
различной калибровки. Объём ёмкостей варьируется в пределах 5-42 м3. Вся техника оснащена спутниковой системой мониторинга, 
позволяющей в любое время отслеживать движение транспорта.
Лучший сервис, вовремя, быстро, аккуратно – это главный девиз нашей компании. Данные обязательства мы исполняем полностью. 
Для нас важен каждый клиент, независимо от того, большой у него бизнес или нет.</div>
 </div>
 </div>
 <div class="panel panel-default">
 <div class="panel-heading">
 <h4 class="panel-title">
 <a data-toggle="collapse" data-parent="#collapse-group" href="#el5">&#9745; Пятый</a>
 </h4>
 </div>
 <div id="el5" class="panel-collapse collapse">
 <div class="panel-body"><b>100% литраж при сливе.</b>
Сравнивая аналогичную деятельность других компаний, следует отметить, что мы отличаемся высоким профессионализмом сотрудников, 
уровнем сервиса, достойной современной техникой. Наши отличия от конкурентов:
Круглосуточная доставка топлива до заказчика;
Минимальная заявка от 500 литров;
100% литраж при сливе;
Получение заказчиком дизтоплива в течение 3-х часов;
Шланги от 50 метров с заправочными пистолетами.
Лучший сервис!</div>
 </div>
 </div>
 <div class="panel panel-default">
 <div class="panel-heading">
 <h4 class="panel-title">
 <a data-toggle="collapse" data-parent="#collapse-group" href="#el6">&#9745; Шестой</a>
 </h4>
 </div>
 <div id="el6" class="panel-collapse collapse">
 <div class="panel-body"><b>Шланги длиной от 50 метров.</b>
Это далеко не весь перечень положительных характеристик компании. Высокопрофессиональные водители доставят дизтопливо в 
самые труднодоступные места. Безаварийно слить горючее помогут импортные шланги длиной от 50 метров и высочайший уровень 
подготовки водительского состава. Не верите, так проверьте.
Услугами нашей компании пользуются партнёры всей Украины и даже из других, близлежащих регионов. На стоимость топлива 
влияет общий объём заказа. Звоните, заказывайте, мы Вас ждём!</div>
 </div>
 </div>

</div>  
</div>
</div>
 </p>
</div>

<br>
<div id="dg">
				    <div class="container">
					    <div class="row centered">
						<div class="col-lg-12">
						    <span class="tiltFont3"><b>Основные потребители нефтепродуктов компании {{ company_name|upper }}</b></span>
				        </div><br><br>
						    <hr class="style-two"></hr>
						         <span class="tiltFont2">
								    Бесперебойная работа техники напрямую зависит от качества используемого топлива и надежности поставщика. 
								 </span>
								 
						    <br>
							
							<br><br><br>
							
						    <br>
							<div class="col-lg-3">
							   <div class="tilt">
							       <a href="#"><img src="/static/icons/7.png" alt="Последние новости в Польше" class="img-responsive img-thumbnail img-circle"></a>
							       <span class="tiltFont1">Продажа топлива</span>
								   <span class="tiltFont2">Аренда топливных емкостей различного объема.</span>
							   </div> 
							</div>
							<div class="col-lg-3">
							   <div class="tilt">
							       <a href="#"><img src="/static/icons/8.png" alt="Последние новости в Польше" class="img-responsive img-thumbnail img-circle"></a>
							       <span class="tiltFont1">Перевозка топлива</span>
								   <span class="tiltFont2">Аренда топливных емкостей различного объема.</span>
							   </div> 
							</div>
							<div class="col-lg-3">
							   <div class="tilt">
							       <a href="#"><img src="/static/icons/9.png" alt="Последние новости в Польше" class="img-responsive img-thumbnail img-circle"></a>
							       <span class="tiltFont1">Откачка топлива</span>
								   <span class="tiltFont2">Аренда топливных емкостей различного объема.</span>
							   </div> 
							</div>
							<div class="col-lg-3">
							   <div class="tilt">
							       <a href="#"><img src="/static/icons/10.png" alt="Последние новости в Польше" class="img-responsive img-thumbnail img-circle"></a>
							       <span class="tiltFont1">Откачка топлива</span>
								   <span class="tiltFont2">Аренда топливных емкостей различного объема.</span>
							   </div> 
							</div>
							
						</div><br><br>
						<div class="row centered">
						
						    
						    <br>
							<div class="col-lg-3">
							   <div class="tilt">
							       <a href="#"><img src="/static/icons/11.png" alt="Последние новости в Польше" class="img-responsive img-thumbnail img-circle"></a>
							       <span class="tiltFont1">Аренда бензовозов</span>
								   <span class="tiltFont2">Аренда топливных емкостей различного объема.</span>
							   </div> 
							</div>
							<div class="col-lg-3">
							   <div class="tilt">
							       <a href="#"><img src="/static/icons/12.png" alt="Последние новости в Польше" class="img-responsive img-thumbnail img-circle"></a>
							       <span class="tiltFont1">Утилизация топлива</span>
								   <span class="tiltFont2">Аренда топливных емкостей различного объема.</span>
							   </div> 
							</div>
							<div class="col-lg-3">
							   <div class="tilt">
							       <a href="#"><img src="/static/icons/13.png" alt="Последние новости в Польше" class="img-responsive img-thumbnail img-circle"></a>
							       <span class="tiltFont1">Аренда емкостей</span>
								   <span class="tiltFont2">Аренда топливных емкостей различного объема.</span>
							   </div> 
							</div>
							<div class="col-lg-3">
							   <div class="tilt">
							       <a href="#"><img src="/static/icons/14.png" alt="Последние новости в Польше" class="img-responsive img-thumbnail img-circle"></a>
							       <span class="tiltFont1">Откачка топлива</span>
								   <span class="tiltFont2">Аренда топливных емкостей различного объема.</span>
							   </div> 
							</div>
							
						</div>
						
					</div>
				</div>
   
								
						
						<div class="col-lg-2"></div>
						    
					
				
				<div class="container wb">
				    <div class="row centered">
					    <br><br>
						<div class="col-lg-12">
						    <span class="tiltFont3"><b>Стать нашим клиентом и получать качественные услуги и продукты</b></span>
				        </div><br><br><br>
						    
						         <span class="tiltFont2">
								    Лучшая гарантия качественных нефтепродуктов – это паспорт качества и порядочность 
									поставщика, так же как минимум, максимум и постоянство – лучшие показатели идеальной поставки. 
								 </span>
								 <br><hr class="style-two"></hr><br><br><br><br>
								 
					</div>
                </div>	
                <div class="content container">
    <div class="row">
<span class="tiltFont4"><b>Оптовая продажа дизельного топлива</b></span><br>
<span class="tiltFont5">Качественное дизельное топливо (ДТ) — залог нормальной работы ряда оборудования и специализированных предприятий. 
Топливная компания {{ company_name|upper }} является ведущим поставщиком светлых нефтепродуктов в Киеве и Киевской области. 
Мы доставляем дизтопливо собственными бензовозами и топливозаправщиками на объекты клиентов в круглосуточном режиме.<br><br>
В этом же году наша компания начинает закуп продукта с центральных бирж. 
Это неизменно приводит к росту и увеличению базы постоянных клиентов (на уровне биржевого торга) и к 
появлению конкурентоспособной цен на рынке дизельного топлива.<br><br>
Команда профессиональных менеджеров {{ company_name|upper }} прилагает все возможные усилия для повышения уровня клиентского обслуживания. 
Среди клиентов компании — крупнейшие организации столицы и области. Мы постоянно расширяем географию работы и повышаем качество 
обслуживания Заказчиков. Недорого купить дизельное топливо оптом в Москве можно, причем не в ущерб качеству.<br><br>
<b>Краткая история развития бизнеса по организации поставок нефтепродуктов:</b><br><br>
<ol>
 <li>Компания {{ company_name|upper }} была создана в 2007-м году. Целью ее появления стала продажа качественного дизельного топлива и 
 предоставление безупречного сервиса.</li>
 <li>Налаживаются закупки на центральных биржах. Именно это позволяет нам предлагать топливо высокого уровня по конкурентоспособной стоимости.
2015-2017 года — период совершенствования системы доставки заказов на объекты клиентов. Компания {{ company_name|upper }} комплектует 
собственный парк спецтехники разной грузоподъемности. Производство всех машин — Европа.</li>
 <li>Увеличивается штат компании, расширяется сеть продаж.</li>
 <li>Разрабатывается четкий алгоритм действий — и становится возможной доставка топлива в течение трех часов после заказа. 
 Данная возможность у клиентов {{ company_name|upper }} появилась только в 2017-м году — и мы гарантируем отличную эффективность работы схемы.</li>
</ol><br>
Поставщик нефтепродуктов растет и развивается вместе со своими заказчиками. Продажа дизельного топлива оптом предлагается для отопления 
коттеджей, дач и загородных домов, работы котельных, строительных компаний, генераторов, транспорта, складов, автосервисов. 
Мы продаем дизельное топливо от 500 л, гарантируя максимальное внимание каждому клиенту — независимо от объемов сделанного заказа.<br><br>
<b>Конкурентные преимущества компании {{ company_name|upper }}:</b><br><br>
<ul>
 <li>мы торгуем диз топливом высокого качества;</li>
 <li>поставки осуществляются точно в установленные сроки;</li>
 <li>каждый клиент может рассчитывать на индивидуальный подход;</li>
 <li>ценовая политика — гибкая, оптовая стоимость солярки — лучшая в регионе;</li>
 <li>сырье всегда в наличии в нужном вам объеме.</li>
</ul><br>
Мы открыты к диалогу и постоянно работаем над оптимизацией сервиса, текущих принципов взаимодействия с клиентами. 
Качественное, сертифицированное, недорогое дизельное топливо с доставкой на объект всего за три часа — это возможно. 
Доказано {{ company_name|upper }}.<br><br>
<span class="tiltFont4"><b>Стоимость дизтоплива</b></span><br>
Купить ДТ оптом в компании {{ company_name|upper }} вы можете на лучших в регионе финансовых условиях:<br><br>
<ol>
 <li>Мы предлагаем вам купить дизтопливо мелким и крупным оптом.</li>
 <li>Стоимость — самая низкая в Киеве и КО, а качество — исключительно высокое.</li>
 <li>Чем больше объем заказа — тем ниже цена одного литра горючего.</li>
</ol><br>
Доставка дизельного топлива от 500 л по цене, указанной в соответствующем разделе, осуществляется в течение всего трех часов. 
Для вас нет ни доплат за срочность, ни рисков — ведь мы позаботились об этом.<br>
<span class="tiltFont4"><b>Доставка ДТ по Киеву и области</b></span><br>
Продажа и доставка дизельного топлива по Киевской области компанией {{ company_name|upper }} осуществляется на следующих условиях:<br><br>
<ol>
 <li>МКогда бы вы ни оставили заявку на дизтопливо с доставкой по Московской области, оно будет доставлено в течение трех часов. 
 Мы работаем круглосуточно и без выходных.</li>
 <li>Минимальный заказ составляет всего 500 л. Топливо доставляется в полном объеме, 100%-й литраж гарантирован.</li>
 <li>Обеспечению высокого уровня сервиса мы уделяем особое внимание. Недостаточно продавать хорошую соляру — нужно решать все задачи клиента, 
 что мы и делаем.</li>
 <li>Для отлива используются шланги длиной от 50 м с пистолетами. Никаких аварий в ходе производственного процесса!</li>
 <li>В штате компании работают опытные водители, которые не создают проблемных ситуаций и быстро решают возможные 
 сложности, которые возникают во время доставки.</li>
</ol><br>
<em><b>{{ company_name|upper }}</b> — это выгодные условия сотрудничества для бизнеса любых размеров. Все дизтопливо оптом (мелким и крупным) продается с 
паспортами соответствия. Телефон для связи: <b>+3 (8099) 999-93-93.</b></em>
</span><br>


    </div>
</div>				
				<div id="r">
				    <div class="container">
					    <div class="row centered">
						    <div class="col-lg-12">
							    <h4>Заказ топлива</h4>
								<p>
								    Для того чтобы сделать заказ, необходимо перейти на страницу с формой заказа, нажав на зелёную кнопку:<br>
									<div class="col-lg-12"><button type="button" class="btn btn-success postresume btn-lg"><span class="buttall"><a href="{% url 'contactView' %}">Сделать заказ</a></span></button><br></div><br>
								</p>
                                
							</div>
						</div>
					
					</div>
				
				</div>
{% endblock content %}	