{% extends 'oilstandart/base.html' %}




{% block content %} 
<div class="content container background-picture">
    <div class="row centered">
	    <div class="col-md-12">
           <span class="tiltFont3"><b>Дизтопливо, бензины А-92, А-95</b></span>
		</div>
		      <!--<span class="tiltFont2">
								    Бесперебойная работа техники напрямую зависит от качества используемого топлива и надежности поставщика. 
			  </span><br>-->
	
     </div>
</div>   
<hr class="style-two"></hr>                					
	
<div class="content container">
    <div class="row">
	    <div class="col-md-12">
<!-- Хлебные крошки, начало! -->	
<ol id="breadcrumb">
  <li>
    <a href="{% url 'indexoil' %}"><i class="glyphicon glyphicon-home"></i>
    <span class="sr-only"></span></a>
  </li>
  <li class="current">
    <a href="{% url 'dieselfuel' %}">Дизтопливо, бензины А-92, А-95</a>
  </li>
</ol>
<!-- Хлебные крошки, конец! -->
<br><br>
<div class="content container">
    <div class="row">
<span class="tiltFont4"><b>Продажа и доставка топлива</b></span><br>
<span class="tiltFont5">Продажа разнообразных марок топлива оптом или в розницу нашей компанией удовлетворит любого покупателя.<br><br>
Наша компания осуществляет контроль качества топлива в соответствии с сертификатом соответствия производителя. <b>Продажа и доставка топлива</b> осуществляется от хорошо известных и положительно зарекомендовавших себя нефтеперерабатывающих заводов.<br><br>
<li>ORLEN LIETUVA (Литва)</li>
<li>ORLEN (Польша)</li>
<li>MOL (Венгрия)</li>
<li>ROMPETROL (Румыния)</li>
<li>NAFTAN (Белорусь)</li>
<li>MOZYR OIL REFINERY (Белорусь)</li><br>
Вы можете не сомневаться в бесперебойной работе вашей техники и отсутствии различных проблем при эксплуатации. <br><br>
Для удобства потребителя и улучшения качества обслуживания наша компания {% for item in price_oil %}{{ item.company|upper }}{% endfor %} предоставляет полный комплекс услуг по продаже оптом, доставке и наливу топлива по бакам (емкостям). Доставка топлива осуществляется специально предназначенным для этих целей транспортом, который в короткие сроки осуществит поставку вашего заказа, обеспечив при этом максимальную безопасность. Современный бензовоз, оборудованный счётчиками, современными насосами и шлангами для налива топлива, способен доставить нефтепродукты в самые недоступные районы. Эксплуатирует этот транспорт хорошо обученный и квалифицированный персонал, имеющий допуск к работе с опасными грузами.<br><br>
</span>
<span class="tilt-center"><b>Надеемся на взаимовыгодное и долгосрочное сотрудничество!<br>
Пусть вам всегда сопутствует успех! &#9749;
</span>
    </div>
</div>






        </div>
    </div>
</div>
{% endblock content %}