{% extends 'oilstandart/base.html' %}




{% block content %} 
<div class="content container">
    <div class="row centered table-top">
	    <div class="col-md-12">
           <span class="tiltFont3"><b>Главная</b></span>
		  </div>
		      <!--<span class="tiltFont2">
								    Бесперебойная работа техники напрямую зависит от качества используемого топлива и надежности поставщика. 
			  </span><br>-->
	
     </div>
</div>   
<hr class="style-two"></hr>                					
	
<div class="content container">
    <div class="row">
	    <div class="col-md-12">
<!-- Хлебные крошки, начало! -->	
<ol id="breadcrumb">
  <li>
    <a href="{% url 'indexoil' %}"><i class="glyphicon glyphicon-home"></i>
    <span class="sr-only"></span></a>
  </li>
  <li class="current">
    <a href="{% url 'home' %}">Главная</a>
  </li>
</ol>
<!-- Хлебные крошки, конец! -->
<br><br>
<div class="content container">
    <div class="row">
<span class="tiltFont4"><b>{{ company_name|upper }}</b></span><br>
<span class="tiltFont5">Основным направлением деятельности компании <b>{{ company_name|upper }}</b> является продажа, доставка дизельного топлива и налив на вашей территории, непосредственно в баки автомобилей. На сегодняшний день мы предлагаем самый широчайший ассортимент продукции, включающий самое лучшее зимнее и летнее дизельное топливо, бензины А-92, А-95, сжиженный газ. Наша фирма завоевывала доверие со стороны покупателей на протяжении достаточно длительного времени, а потому мы очень дорожим репутацией и просто не можем позволить доставлять клиентам некачественное дизтопливо. Именно этот экологически чистый продукт необходимо использовать в черте г. Киева и обл, а так же при заправке импортных генераторов, большегрузных автомобилей или для отопления коттеджей. Наша компанния <b>{{ company_name|upper }}</b> осуществит доставку качественного дизельного топлива, что минимизирует износ двигателя вашего транспорта или топливной системы.<br><br>
Если вы желаете приобрести дизельное топливо оптом или другое топливо, мы с радостью придем на помощь. Наша компания <b>{{ company_name|upper }}</b> на высоком профессиональном уровне осуществляет такие услуги, как продажа и доставка топлива. Работа с клиентами на взаимовыгодных условиях, обеспечение потребителя стабильностью оптовых поставок, высокое качество топлива и низкие цены – наши главные преимущества. Продажа топлива осуществляется оптом от 200 л.<br><br>
Доставка топлива оптом, бензина и других нефтепродуктов в соответствии с паспортом качества (ГОСТ) будет осуществлена в срок.<br><br>
Для повышения качества обслуживания мы сдаем в аренду, устанавливаем мобильные и стационарные топливозаправочные модули. Обеспечиваем дежурство автозаправщиков на территории предприятий. Одним из направлений развития компании является финансирование проектов по модернизации и оснащению объектов и складов ГСМ стационарным или мобильным топливозаправочным оборудованием.<br><br>
<b>Продажа, доставка и налив топлива от {{ company_name|upper }}</b><br><br>
Наша задача заключается в бесперебойной доставке дизельного топлива в любое время суток до заказчика. Нашими клиентами являются не только крупные организации, имеющие возможность держать в запасе дизтопливо в емкостях от 40 000 л., но и небольшие организации, владеющие небольшим автопарком, который необходимо заправлять ежедневно. Так же владельцы загородной недвижимости используют топливо для отопления коттеджей и частных домов. <br><br>
<span class="tilt-center"><b>Надеемся на взаимовыгодное и долгосрочное сотрудничество!<br>
Пусть вам всегда сопутствует успех! &#9749;
</span>
    </div>
</div>






        </div>
    </div>
</div>
{% endblock content %}