{% extends 'oilstandart/base.html' %}




{% block content %} 
<div class="content container background-picture">
    <div class="row centered">
	    <div class="col-md-12">
           <span class="tiltFont3"><b>Газовые заправки АГЗП АГЗС</b></span>
		</div>
		      <!--<span class="tiltFont2">
								    Бесперебойная работа техники напрямую зависит от качества используемого топлива и надежности поставщика. 
			  </span><br>-->
	
     </div>
</div>   
<hr class="style-two"></hr>                					
	
<div class="content container">
    <div class="row">
	    <div class="col-md-12">
<!-- Хлебные крошки, начало! -->	
<ol id="breadcrumb">
  <li>
    <a href="{% url 'indexoil' %}"><i class="glyphicon glyphicon-home"></i>
    <span class="sr-only"></span></a>
  </li>
  <li class="current">
    <a href="{% url 'gasfilling' %}">Газовые заправки АГЗП АГЗС</a>
  </li>
</ol>
<!-- Хлебные крошки, конец! -->
<br><br>
<div class="content container">
    <div class="row">
<span class="tiltFont4"><b>Газовые заправки АГЗП АГЗС</b></span><br>
<span class="tiltFont5">
  <Ul>  
    <li>мы производим, продаём, поставляем и модернизируем газовые модули СЗГ, заправки АГЗП, ГНС, САГ, колонки ГРК, оборудование для сжиженного углеводородного газа;</li>
    <li>предлагаем заказчику готовые технологические решения и оптимальные схемы реализации его проекта;</li>
    <li>оформляем необходимые документы, согласования и разрешения;</li>
    <li>гибко реагируем на пожелания и особые требования к проектированию и реализации каждого конкретного объекта газоснабжения;</li>
    <li>обеспечиваем доставку оборудования до потребителя удобным для него способом;</li>
    <li>проводим монтаж оборудования и его сдачу «под ключ»;</li>
    <li>проводим обучение персонала заказчика работе с газовым оборудованием;</li>
    <li>осуществляем высококвалифицированное сервисное обслуживание объектов газоснабжения.</li>
  </Ul>  
<br><br>
<b>СТРОИМ «ПОД КЛЮЧ» ОБЪЕКТЫ ГАЗОСНАБЖЕНИЯ</b><br>
<b>{{ company_name|upper }}</b> сдаёт «под ключ» следующие объекты газового хозяйства:<br>
<ul>
<li>мульти-топливные автозаправочные станции МТАЗС;</li>
<li>автомобильные газозаправочные пункты АГЗП и станции АГЗС;</li>
<li>газонаполнительные станции ГНС;</li>
<li>газонаполнительные пункты ГНП;</li>
<li>модульные котельные;</li>
<li>склады и базы хранения пропан-бутана.</li>
</ul>
Применять такие мини АЗС можно почти везде - в портах, базах отдыха, сельском хозяйстве, автосервисах, автосалонах, дорожно-ремонтных организациях, при строительстве, яхт-клубах. Мини АЗС могут легко перевозится, но только в порожнем состоянии, а для перемещения с мета на место помогут погрузчики или же маленький кран.<br><br>
Мы проектируем, рассчитываем, согласовываем, подбираем оборудование, монтируем, сдаём и обслуживаем.
Отдельно мы можем разработать всю документацию для любого объекта.
Вариативно комплектуем АГЗП и АГЗС топливораздаточными колонками ТРК для заправки баллонов и сепаратными насосами, счётными системами для автоматизированного учёта СУГ, дополнительными газопроводами.
<br>
</span>
<span class="tilt-center"><b>Надеемся на взаимовыгодное и долгосрочное сотрудничество!<br>
Пусть вам всегда сопутствует успех! &#9749;
</span>
    </div>
</div>






        </div>
    </div>
</div>
{% endblock content %}