{% extends 'oilstandart/base.html' %}




{% block content %} 
<div class="content container background-picture">
    <div class="row centered">
	    <div class="col-md-12">
           <span class="tiltFont3"><b>Оптовая реализация сжиженного газа</b></span>
		</div>
		      <!--<span class="tiltFont2">
								    Бесперебойная работа техники напрямую зависит от качества используемого топлива и надежности поставщика. 
			  </span><br>-->
	
     </div>
</div>   
<hr class="style-two"></hr>                					
	
<div class="content container">
    <div class="row">
	    <div class="col-md-12">
<!-- Хлебные крошки, начало! -->	
<ol id="breadcrumb">
  <li>
    <a href="{% url 'indexoil' %}"><i class="glyphicon glyphicon-home"></i>
    <span class="sr-only"></span></a>
  </li>
  <li class="current">
    <a href="{% url 'realization' %}">Оптовая реализация сжиженного газа</a>
  </li>
</ol>
<!-- Хлебные крошки, конец! -->
<br><br>
<div class="content container">
    <div class="row">
<span class="tiltFont4"><b>ОПТ крупный</b></span><br>
<span class="tiltFont5">Крупнооптовые поставки газа {{ company_name|upper }} предлагает оптовые поставки сжиженного газа украинских заводов-производителей. Дополнительно наша компания предлагает белорусский сжиженный газ высокого качества, производства ОАО «Мозырский нефтеперерабатывающий завод» и соответствующий требованиям PN-EN 589, а так же пропан-бутан автомобильной марки ПБА Белорусского газоперерабатывающего завода РУП ПО «Белоруснефть» (г.Речица).<br><br>
<span class="tiltFont4"><b>ОПТ мелкий</b></span><br>
Мелкооптовые поставки газа {{ company_name|upper }} предлагает поставку мелкооптовых партий сжиженного газа с базы хранения ОАО «Васильковская фирма Газонаполнительная станция (ГНС)<br>
<em><b>Адрес ГНС ОАО «Васильковская фирма «Экогазсервис»:</b><br>
Киевская обл., Васильковский р-н,
пгт Калиновка, ул. Железнодорожная, 167.
</em><br><br>
<span class="tiltFont4"><b>Доставка газа</b></span><br>
Доставка газа Доставка осуществляется по Киеву, Киевской обл. и Украине
{{ company_name|upper }} осуществляет доставку сжиженного газа покупатеям по г. Киеву и Киевской области и Украине газовозами объемом от 14 до 48 м3, которые оборудованы счетным устройством (объемно массовый счетчик Micro Motion) и системой автономного скоростного слива, позволяющей заправлять АГЗП со скоростью до 300л/мин.
{{ company_name|upper }} предоставляет услуги по доставке сжиженного газа покупателям в любую точку Украины. В нашем распоряжении есть газовозы объемом 48 м3 (21т) и газовозы объемом 24 м3 (11т). Все газовозы оборудованы раздаточным механизмом, который включает в себя насос для слива и поверенный счетчик.
<br><br>
Наша компания гарантирует высокое качество предоставляемых транспортных услуг, мы выполняем доставку груза точно в срок и обеспечиваем полную его сохранность.<br><br>
</span>
<span class="tilt-center"><b>Надеемся на взаимовыгодное и долгосрочное сотрудничество!<br>
Пусть вам всегда сопутствует успех! &#9749;
</span>
    </div>
</div>






        </div>
    </div>
</div>
{% endblock content %}