{% extends 'oilstandart/base.html' %}




{% block content %} 
<div class="content container background-picture">
    <div class="row centered">
	    <div class="col-md-12">
           <span class="tiltFont3"><b>Аренда Мини АЗС от 1000 до 50000 литров</b></span>
		</div>
		      <!--<span class="tiltFont2">
								    Бесперебойная работа техники напрямую зависит от качества используемого топлива и надежности поставщика. 
			  </span><br>-->
	
     </div>
</div>   
<hr class="style-two"></hr>                					
	
<div class="content container">
    <div class="row">
	    <div class="col-md-12">
<!-- Хлебные крошки, начало! -->	
<ol id="breadcrumb">
  <li>
    <a href="{% url 'indexoil' %}"><i class="glyphicon glyphicon-home"></i>
    <span class="sr-only"></span></a>
  </li>
  <li class="current">
    <a href="{% url 'rent' %}">Аренда Мини АЗС от 1000 до 50000 литров</a>
  </li>
</ol>
<!-- Хлебные крошки, конец! -->
<br><br>
<div class="content container">
    <div class="row">
<span class="tiltFont4"><b>Мини АЗС - современное решение для бизнеса</b></span><br>
<span class="tiltFont5">Мини АЗС является максимально рентабельным решением, а также самым дешевым для отпуска дизельного топлива или бензина транспортным средствам. Главное преимущество таких мини АЗС является их автономность. Питанием может быть любой источник электричества или ручная помпа. АЗС такого типа могут быть объемом от 1000 до 50000 литров. Экономия составляет 20% от оптовой цены топлива.<br><br>
<b>Мини АЗС</b> поставляется полностью готовой к работе, нужно только предусмотреть место для установки, это должна быть площадка с твердым основанием: асфальт, бетонная плита или что-то другое, также нужно подвести электричество. Насосы топлива могут быть ручными, и это зависит от комплектации мини АЗС. К контуру резервуара нужно подключить заземляющий контур, после чего нужно заполнить емкость для дизельного топлива и наслаждаться личной АЗС.<br>
Применять такие мини АЗС можно почти везде - в портах, базах отдыха, сельском хозяйстве, автосервисах, автосалонах, дорожно-ремонтных организациях, при строительстве, яхт-клубах. Мини АЗС могут легко перевозится, но только в порожнем состоянии, а для перемещения с мета на место помогут погрузчики или же маленький кран.<br><br>
</span>
<span class="tilt-center"><b>Надеемся на взаимовыгодное и долгосрочное сотрудничество!<br>
Пусть вам всегда сопутствует успех! &#9749;
</span>
    </div>
</div>






        </div>
    </div>
</div>
{% endblock content %}