{% extends 'oilstandart/base.html' %}




{% block content %} 


    <div class="content container">
    <div class="row centered">
	    <div class="col-md-12">
           <span class="tiltFont3"><b>Отзывы</b></span>
		</div>
		      <!--<span class="tiltFont2">
								    Бесперебойная работа техники напрямую зависит от качества используемого топлива и надежности поставщика. 
			  </span><br>-->
	
     </div>
</div>   
<hr class="style-two"></hr>                					
	
<div class="content container">
    <div class="row">
	    <div class="col-md-12">
<!-- Хлебные крошки, начало! -->	
<ol id="breadcrumb">
  <li>
    <a href="{% url 'indexoil' %}"><i class="glyphicon glyphicon-home"></i>
    <span class="sr-only"></span></a>
  </li>
  <li class="current">
    <a href="{% url 'reviews' %}">Отзывы</a>
  </li>
</ol>
<!-- Хлебные крошки, конец! -->
<br><br>
<div class="content container">
    <div class="row">
<span class="tiltFont5"><hr>
  <blockquote>
   <p>Приобретаю в этой компании дт. Доставка в срок, сервис на высоте! Рекомендую!<br>
   <em>Огнев Сергей Борисович.</em></p>
  </blockquote>
  <hr><br>
  <blockquote>
   <p>Мы сменили несколько поставщиков топлива из-за низкого качества. Нашли Вас через сайт. Купили пробную партию дизтоплива 
   (5 т.л.) и пробу отдали на анализ. Результаты полностью совпали с данными паспорта на топливо Евро-5. 
   Мы полностью удовлетворены качеством топлива и доставкой в заявленные сроки.<br>
   <em>Шилов Геннадий Шотович</em><br>
   <em>Компания "МИР"</em></p>
  </blockquote>
  <hr><br>
  <blockquote>
   <p>Я заказал диз.топливо у вас. Понравилось все, от вежливого менеджера до аккуратного водителя. 
   Приятно иметь дело с людьми которые знают толк в своей работе. Удачи в делах. Через две недели опять буду заказывать.<br>
   <em>Сергей</em></p>
  </blockquote>
  <hr><br>
  <blockquote>
   <p>Предлагаем вынести особую благодарность компании {{ company_name|upper }} за отличную способность решать чужие проблемы! Нам срочно нужна 
   была большая партия дизтоплива, все поставщики отказались, а Сергей Григорьевич согласился нам помочь. Удивительно, но весь объем 
   до грамма был доставлен точно в сроки, указанные в договоре и цена оказалась самой низкой в отличии от других. Так держать!<br>
   <em>Компания "Интервижин"</em></p>
  </blockquote>
  <hr><br>
  <blockquote>
   <p>Хотели выразить благодарность сотрудникам компании {{ company_name|upper }} за качественное и оперативное обслуживание. 
   Мы обратились в вашу компанию по рекомендации наших партнеров, и не ошиблись в выборе поставщика. Оперативность, качество — 
   это важный фактор для нашей компании. Квалифицированный персонал оперативно реагирует на заявки. Опытные водители в срок доставляют 
   ДТ на наши объекты. Надеемся на долгосрочное и плодотворное сотрудничество.<br>
   <em>Компания "ИнСити"</em></p>
  </blockquote>
  <hr><br>
  <blockquote>
   <p>Рекомендуем эту компанию!<br>
    Благодарим коллектив компании {{ company_name|upper }} за оперативную доставку диз.топлива к нам в коттедж. Через три часа после заказа машина была у нас 
    водитель аккуратно и безшумно наполнил нашу емкость. Благодарим за качество ДТ и оперативность. Еще не раз к Вам обратимся и будем 
    рекомендовать Вашу компанию.<br>
    <em>Машкова А.В.</em></p>
  </blockquote>
  <hr><br>
  <blockquote>
   <p>Благодарность за работу.<br>
   Хочется выразить огромную благодарность {{ company_name|upper }} за грамотную и качественную работу ваших сотрудников!!! 
   Мы очень довольны вашей компанией. Мы долго выбирали, хотелось, чтобы учли все наши пожелания и финансовые возможности, 
   поэтому рады, что не ошиблись. Желаем вам процветания, рекомендуем всем Вас.<br>
   <em>ООО "ЮТА"</em></p>
  </blockquote>
  <hr><br>
  <blockquote>
   <p>«Оперативность»- это кредо компании.<br>
   Наша фирма давно сотрудничает с компанией {{ company_name|upper }}. Работают профессионалы: делаем заявку, оперативно получаем счёт,топливо 
   и что не мало важно без напоминания, закрывающие документы. Бывают моменты когда срочно и сейчас небходимо топливо, 
   сотрудники компании идут навстречу. Наш менеджер — позитивная девушка Анастасия,всегда держит на контроле маршрут поставки. 
   Общие впечатления о компании 5+++++
   <em>С уважением Наталья<br>
   Компания ООО "АСС"</em></p>
  </blockquote>
  <hr><br>
  <blockquote>
   <p>Хорошая работа!<br>
   Выражаю благодарность коллективу {{ company_name|upper }} за проявленное внимание и быструю доставку зимнего дизельного топлива для 
   отопления моего дома! В самый сильный мороз помогли сохранить систему отопления! Очень благодарен! Теперь я Ваш клиент!<br>
   <em>Николай Александрович</em></p>
  </blockquote>
  <hr><br>
</span>
    </div>
</div>






        </div>
    </div>
</div>


{% endblock content %}